<h1>Menú Administrador</h1>

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<div class="card-deck">
    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRj7c05VnN6Jhy4ftISKsql3RUJWVCDtyRBtPZ9URk3u5z8QSJ0"
                 class="card-img-top" alt="Ciudadanos Image">
            <div class="card-body">
                <h5 class="card-title">Ciudadanos</h5>
                <p class="card-text">Crear y editar ciudadanos del padrón electoral</p>
            </div>
            <div class="card-body">
                <a href="@Url.Action("","")" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7b0XTsjRYCIzYSSQCaC9RmZWv-QMM5AcTqkayALwWc7GcRqze"
                 class="card-img-top" alt="Candidatos Image">
            <div class="card-body">
                <h5 class="card-title">Candidatos</h5>
                <p class="card-text">Seleccionar los ciudadanos que optan por puestos políticos</p>
            </div>
            <div class="card-body">
                <a href="@Url.Action("","")" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://www.netclipart.com/pp/m/17-179524_political-clipart-voting-ballot-elections-icon.png"
                 class="card-img-top" alt="Elecciones Image">
            <div class="card-body">
                <h5 class="card-title">Elecciones</h5>
                <p class="card-text">Administrar los procesos electorales del país</p>
            </div>
            <div class="card-body">
                <a href="@Url.Action("","")" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://cdn4.iconfinder.com/data/icons/election-world-flat/64/senate-congress-government-senator-political-512.png"
                 class="card-img-top" alt="Puestos Image">
            <div class="card-body">
                <h5 class="card-title">Puestos Electivos</h5>
                <p class="card-text">Crear y editar los puestos electivos disponibles del estado</p>
            </div>
            <div class="card-body">
                <a href="@Url.Action("","")" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://cdn4.iconfinder.com/data/icons/baseball-18/64/29_versus_team_emblem_baseball_player_match_sport-512.png"
                 class="card-img-top" alt="Partidos Image">
            <div class="card-body">
                <h5 class="card-title">Partidos Políticos</h5>
                <p class="card-text">Administrar los partidos políticos aprobados por la Junta Central Electoral</p>
            </div>
            <div class="card-body">
                <a href="@Url.Action("","")" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://cdn4.iconfinder.com/data/icons/united-states-presidential-election/97/usa-us-united-states-america-american-election-politics-elections_51-512.png"
                 class="card-img-top" alt="Resultados Image">
            <div class="card-body">
                <h5 class="card-title">Resultados Elecciones</h5>
                <p class="card-text">Visualización de los resultados de las elecciones ejecutadas</p>
            </div>
            <div class="card-body">
                <a href="@Url.Action("","")" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </div>
</div>
